{% extends "dlf-base.html" %}

{%- block beforeContent -%}
{{ super() }}

{{- govukBreadcrumbs({
    "items": [
        {
        "text": "Digital Land",
        "href": "/"
        },
        {
        "text": "Dataset",
        "href": "/dataset"
        },
        {
        "text": "Brownfield land",
        "href": "/datatset/brownfield-land"
        },
        {
        "text": "Organisation",
        "href": "/datatset/brownfield-land/organisation"
        },
        {
        "text": organisation|map_org_code_to_name,
        "href": "/datatset/brownfield-land/organisation/" + organisation
        },
        {
        "text": "Check your data" 
        }
    ]
    }) -}}
{%- endblock -%}

dataset/brownfield-land/organisation/local-authority-eng%3ANNO/check.html

{% block content %}
<span class="govuk-caption-xl">Brownfield land</span>
<h1 class="govuk-heading-xl">Check your data</h1>
<p class="govuk-body">Check that the brownfield land data we have collected from {{ organisation|map_org_code_to_name }} is accurate and up to
    date by following the steps on this page.</p>

<h2 class="govuk-heading-m">1. Make sure we have your most recent register</h2>
<p class="govuk-body">This is the most recent version of your brownfield land register that we have collected:</p>
<div class="highlight-box--cta">
    View the data: <a href="/resource/{{ latest_resource['resource'] }}">version last collected on
        {{ latest_resource['last_collected'] }}</a>
</div>
<p class="govuk-body">If you have a more up-to-date register than the above version, it may be linked to at the bottom of this page. If it is not, you can see how the data in your most up-to-date register looks by running it through the View the data page.</p>

<h2 class="govuk-heading-m">2. Check your data</h2>

<p class="govuk-body">By clicking the link to the version above, you can view a breakdown and visualisation of the data. In particular, you should check the:</p>
<ul class="govuk-list">
    <li>size of each site</li>
    <li>number of potential dwellings</li>
    <li>locations of the brownfield sites on the map</li>
</ul>

<p class="govuk-body">Please also thoroughly check the processed data in the table at the bottom of the page.</p>

<h2 class="govuk-heading-m">3. Correct the data</h2>

<p class="govuk-body">If all of the data is accurate, you do not need to take any further action.</p>

<p class="govuk-body">If there are any errors or missing data, download the processed CSV file (download link is under the heading “Records”). Correct the data and make sure it meets the <a href="https://www.gov.uk/guidance/publish-your-developer-contributions-data">data standard</a>.</p>

<p class="govuk-body">Once you have fixed any errors, you can see how it looks by running it through the View the data page again.</p>

<h2 class="govuk-heading-m">4. Publish the updated register</h2>

<p class="govuk-body">When you are happy that the data is accurate, publish the updated register as a CSV file on your organisation’s web page. This should replace the old version.</p>

<h2 class="govuk-heading-m">5. Send us your most recent register</h2>

<p class="govuk-body">Once you have corrected and published your most up-to-date register, send us the URL to the register (not the URL to the web page the register sits on). You can send the URL <a href="https://forms.gle/YoxWZf2tjaRxKHCAA">using this Google Form</a> or by emailing it to <a href="mailto:DigitalLand@communities.gov.uk">DigitalLand@communities.gov.uk</a>.
</p>

{% if other_resources|length > 0 %}
<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<h2 class="govuk-heading-m">Other versions of your register</h2>
<ul class="govuk-list govuk-list--bullet">
    {% for r in other_resources %}
    <li>
        <a href="/resource/{{ r['resource'] }}">Version collected between {{ r['start_date'] }} and
            {{ r['last_collected'] }}</a>
    </li>
    {% endfor %}
</ul>
{% endif %}
{%- endblock -%}
