{% extends "dlf-base.html" %}

{%- block beforeContent -%}
{{ super() }}

{{- govukBreadcrumbs({
    "items": [
        {
        "text": "Digital Land",
        "href": "/"
        },
        {
        "text": "Dataset",
        "href": "/dataset"
        },
        {
        "text": "Brownfield land",
        "href": "/datatset/brownfield-land"
        },
        {
        "text": "Organisation",
        "href": "/datatset/brownfield-land/organisation"
        },
        {
        "text": organisation|map_org_code_to_name,
        "href": "/datatset/brownfield-land/organisation/" + organisation
        },
        {
        "text": "Check your data" 
        }
    ]
    }) -}}
{%- endblock -%}

dataset/brownfield-land/organisation/local-authority-eng%3ANNO/check.html

{% block content %}
<span class="govuk-caption-xl">Brownfield land</span>
<h1 class="govuk-heading-xl">Check your data</h1>
<p class="govuk-body">Check that the brownfield land data we have collected from your organisation is accurate and up to
    date.</p>

<h2 class="govuk-heading-m">Latest version</h2>
<p class="govuk-body">This is the most recent version of your brownfield land register that we have collected.</p>
<div class="highlight-box--cta">
    <a href="/resource/{{ latest_resource['resource'] }}">Version last collected on
        {{ latest_resource['last_collected'] }}</a>
</div>

<p class="govuk-body">If there is a more recent version that you have published, let us know by:</p>

<h2 class="govuk-heading-m">What to do if the data needs to be fixed.</h2>

<p class="govuk-body">Do this and that.</p>

<p class="govuk-body">Try it in the [check your data service].</p>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<h2 class="govuk-heading-m">Other related versions</h2>
{% if other_resources|length > 0 %}
<ul class="govuk-list govuk-list--bullet">
    {% for r in other_resources %}
    <li>
        <a href="/resource/{{ r['resource'] }}">Version collected between {{ r['start_date'] }} and
            {{ r['last_collected'] }}.</a>
    </li>
    {% endfor %}
</ul>
{% endif %}
{%- endblock -%}