{% extends "dlf-base.html" %}

{%- block beforeContent -%}
{{ super() }}

{{- govukBreadcrumbs({
    "items": [
        {
        "text": "Digital Land",
        "href": "/"
        },
        {
        "text": "Dataset",
        "href": "/dataset"
        },
        {
        "text": "Brownfield land",
        "href": "/datatset/brownfield-land"
        },
        {
        "text": "Organisation",
        "href": "/datatset/brownfield-land/organisation"
        },
        {
        "text": organisation|map_org_code_to_name,
        "href": "/datatset/brownfield-land/organisation/" + organisation
        },
        {
        "text": "Check your data" 
        }
    ]
    }) -}}
{%- endblock -%}

dataset/brownfield-land/organisation/local-authority-eng%3ANNO/check.html

{% block content %}
<span class="govuk-caption-xl">Brownfield land</span>
<h1 class="govuk-heading-xl">Check your data</h1>
<p class="govuk-body">Check that the brownfield land data we have collected from {{ organisation|map_org_code_to_name }} is accurate and up to
    date.</p>

<h2 class="govuk-heading-m">Latest version</h2>
<p class="govuk-body">This is the most recent version of your brownfield land register that we have collected.</p>
<div class="highlight-box--cta">
    <a href="/resource/{{ latest_resource['resource'] }}">Version last collected on
        {{ latest_resource['last_collected'] }}</a>
</div>

<p class="govuk-body">If there is a more recent version that you have published, let us know <a href="https://forms.gle/YoxWZf2tjaRxKHCAA">via this Google Form</a>.</p>

<p class="govuk-body">If you cannot access the form please email us at DigtialLand@communities.gov.uk.</p>

<h2 class="govuk-heading-m">Check your data</h2>

<p class="govuk-body">The data we have collected will appear on a national map of brownfield land.</p>

<p class="govuk-body">Thoroughly check the data in your most recent register. By clicking on the version above, you can view a breakdown and visualisation of the data. In particular, you should check the locations of the sites on the map, and the number of dwellings and size of the sites.</p>

<h2 class="govuk-heading-m">What to do if any data is wrong</h2>

<p class="govuk-body">On the view your data page, download the processed .csv file and correct the data.</p>

<p class="govuk-body">Once you have fixed any errors you need to upload the .csv file to your website and let us know the URL.</p>

<p class="govuk-body">We are working on a tool that will help you check your changes before you upload the file to your website.</p>

{% if other_resources|length > 0 %}
<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<h2 class="govuk-heading-m">Other related versions</h2>
<ul class="govuk-list govuk-list--bullet">
    {% for r in other_resources %}
    <li>
        <a href="/resource/{{ r['resource'] }}">Version collected between {{ r['start_date'] }} and
            {{ r['last_collected'] }}</a>
    </li>
    {% endfor %}
</ul>
{% endif %}
{%- endblock -%}