{% extends "digital-land-frontend/dlf-base.html" %}

{%- block beforeContent -%}
    {{ super() }}

    {{- govukBreadcrumbs({
    "items": [
        {
        "text": "Digital Land",
        "href": "/"
        },
        {
        "text": "Resources"
        }
    ]
    }) -}}
{%- endblock -%}

{% block pageTitle %}Resources | Digital Land{% endblock %}

{% block content %}
<h1 class="govuk-heading-xl">Resources</h1>

<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-quarter">
        <div class="data">
            <span class="data-item govuk-body govuk-!-font-size-48 govuk-!-font-weight-bold">{{ ind.mappings['resource']|length }}</span>
            <br /><span class="data-item govuk-body-l">Resources</span>
        </div>
    </div>
    <div class="govuk-grid-column-one-quarter">
        <div class="data">
            <span class="data-item govuk-body govuk-!-font-size-48 govuk-!-font-weight-bold">{{ ind.mappings['key']|length }}</span>
            <br /><span class="data-item govuk-body-l">Links</span>
        </div>
    </div>
</div>

<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

<ul class="govuk-list">
    {% for r in ind.mappings['resource'].keys()  %}
        <li>
            <h3 class="govuk-heading-m" style="word-break: break-all;"><a href="{{ r }}">{{ r }}</a></h3>
            <dl class="govuk-summary-list">
                {% for k in ind.mappings['resource'][r] %}
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">URL</dt>
                    <dd class="govuk-summary-list__value">
                        <a href="{{ ind.get_key_url(k) }}" class="govuk-link">{{ ind.get_key_url(k) }}</a>
                        <div>
                            <span><span class="govuk-!-font-weight-bold">First collected:</span> {{ ind.date_key_first_collected(k) }}</span>
                            <span><span class="govuk-!-font-weight-bold">Last collected:</span> {{ ind.date_key_last_collected(k) }}</span>
                        </div>
                    </dd>
                </div>
                {% endfor %}
            </dl>
        </li>
    {% endfor %}
</ul>
{% endblock %}
