{% extends "dlf-base.html" %}

{%- block beforeContent -%}
    {{ super() }}

    {{- govukBreadcrumbs({
    "items": [
        {
        "text": "Digital Land",
        "href": "/"
        },
        {
        "text": "Resources"
        }
    ]
    }) -}}
{%- endblock -%}

{% block content %}
<h1 class="govuk-heading-xl govuk-!-margin-bottom-2">Brownfield collector report</h1>
<p class="govuk-body govuk-!-font-size-16 govuk-!-margin-bottom-7">Last updated {{ today.date().strftime('%d %B %Y') }}</p>

<h2 class="govuk-heading-l">Summary</h2>
<p class="govuk-body">Since our collector start running regularly it has collected brownfield land data from <span class="govuk-!-font-size-24 govuk-!-font-weight-bold highlight-text">{{ mappings['organisation']|length }} Organisations</span>.</p>
<p class="govuk-body">We have found brownfield data behind <span class="govuk-!-font-size-24 govuk-!-font-weight-bold highlight-text">{{ mappings['key']|length }} Urls</span>.</p>
<p class="govuk-body">And there have been <span class="govuk-!-font-size-24 govuk-!-font-weight-bold highlight-text">{{ mappings['resource']|length }} different resources</span>, where a resource is either a new or updated brownfield site register.</p>

<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">


<h3 class="govuk-heading-m">How many urls do organisations use?</h3>

{% set num_orgs_mt_1_url = mappings['organisation']|length - orgs_by_links[1]['organisation']|length %}
<p class="govuk-body"><span class="govuk-!-font-size-24 govuk-!-font-weight-bold">{{ '{:.0%}'.format(num_orgs_mt_1_url / mappings['organisation']|length) }}</span> of organisations have brownfield data behind more than 1 url.</p>


{% for count in orgs_by_links %}
<div class="govuk-grid-row contribution-category-row">
    <div class="govuk-grid-column-one-quarter">
        <h4 class="govuk-heading-s chart-bar__label">{{ count }} urls</h4>
    </div>
    <div class="govuk-grid-column-three-quarters chart-bar">
        {% set org_count = orgs_by_links[count]['organisation']|length %}
        {% set bar_width = '{:.0%}'.format(org_count / mappings['organisation']|length) %}
        <div class="chart-bar__part" style="width: {{ '1px' if bar_width == '0%' and org_count > 0 else bar_width }};"></div>
        <span class="govuk-!-font-weight-bold data-item chart-bar__value">{{ orgs_by_links[count]['organisation']|length }}</span>
    </div>
</div>
{% endfor %}
      
            

{% macro heatMap(weeks) %}
<?xml version="1.0" encoding="UTF-8"?>
<svg width="828" height="128" class="js-calendar-graph-svg">
    <g transform="translate(10, 20)">
      {% for w in weeks %}
        {% set x_pos = (loop.index - 1) * 16 %}
        <g transform="translate({{ x_pos }}, 0)">
            {% for d in weeks[w] %}
            {% set y_pos = (loop.index - 1) * 15 %}
            <rect class="day" width="12" height="12" x="16" y="{{ y_pos }}" fill="{{ d[1]|countColour }}" data-count="{{d[1]}}" data-date="{{d[0]}}">
                <title>{{ d[0] }}: {{ d[1] }} new resources</title>
            </rect>
            {% endfor %}
        </g>
      {% endfor %}
        <text text-anchor="start" class="wday" dx="-10" dy="10">Mon</text>
        <text text-anchor="start" class="wday" dx="-10" dy="25" style="display: none;">Tue</text>
        <text text-anchor="start" class="wday" dx="-10" dy="41">Wed</text>
        <text text-anchor="start" class="wday" dx="-10" dy="56" style="display: none;">Thu</text>
        <text text-anchor="start" class="wday" dx="-10" dy="71">Fri</text>
        <text text-anchor="start" class="wday" dx="-10" dy="85" style="display: none;">Sat</text>
        <text text-anchor="start" class="wday" dx="-10" dy="101">Sun</text>
    </g>
</svg>
{% endmacro %}

<h2 class="govuk-heading-m">New resource frequency</h2>

{{ heatMap(heat_map) }}

{% endblock %}