-e git+https://github.com/digital-land/brownfield-resources.git#egg=Brownfield_resource_generator
Click==7.0
-e git+https://github.com/colmjude/govuk-jinja-components.git#egg=govuk_jinja_components
Jinja2==2.11.1
Markdown==3.2
MarkupSafe==1.1.1
numpy==1.18.1
pandas==1.0.1
python-dateutil==2.8.1
pytz==2019.3
six==1.14.0
validators==0.14.2
