{% macro makeLinkAnAnchor(uri) %}
    {%- if uri|is_valid_uri -%}
        <a href="{{ uri }}" class="govuk-link">{{ uri }}</a>
    {%- else -%}
        {{ uri }}
    {%- endif -%}
{% endmacro %}

{% macro renderCellWithIssue(params) %}
<td tabindex="0" class="data-table__issue{% if params.classes %} {{ params.classes }}{% endif %}">
    {{ "" if params['value'] == None else params['value'] }}
    <span class="data-table__issue__item">
        <div class="data-table__issue__item__text"><span class="secondary-text">original &rarr;</span>{{ params['original'] }}</div>
        <div class="data-table__issue__item__text"><span class="secondary-text">processed &rarr;</span>{{ params['processed'] }}</div>
        <span class="data-table__issue__info">{{ params['message'] }}</span>
    </span>
</td>
{% endmacro %}
