{% macro makeLinkAnAnchor(uri) %}
    {%- if uri|is_valid_uri -%}
        <a href="{{ uri }}" class="govuk-link">{{ uri }}</a>
    {%- else -%}
        {{ uri }}
    {%- endif -%}
{% endmacro %}

{% macro renderCellWithIssue(params) %}
<td tabindex="0" class="data-table__issue{% if params.classes %} {{ params.classes }}{% endif %}" {% if params.sortValue is defined %}data-sort-value="{{ params.sortValue }}"{% endif %}>
    {{ "" if params['value'] == None else params['value'] }}
    <span class="data-table__issue__item">
        {% if not params['tag'] == "Missing" %}
        <div class="data-table__issue__item__text issue__part"><span class="secondary-text issue__part__label">original &rarr;</span><span>{{ params['original'] }}</span></div>
        <div class="data-table__issue__item__text issue__part"><span class="secondary-text issue__part__label">processed &rarr;</span>{{ params['processed'] }}</div>
        {% endif %}
        <span class="data-table__issue__info">{% if params['tag'] %}<strong class="govuk-tag govuk-!-margin-right-1">{{ params['tag'] }}</strong>{% endif %}{{ params['message'] }}</span>
    </span>
</td>
{% endmacro %}
